name: Deploy to ECS Fargate

on:
  push:
    branches:
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest 
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
          aws-region: eu-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: shravanecr
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          

# - name: Build and push Docker image
#   run: |
#     docker build -t bcknd .
#     docker tag bcknd:latest 443121937602.dkr.ecr.us-west-2.amazonaws.com/myecrr/bcknd:latest
#     docker push 443121937602.dkr.ecr.us-west-2.amazonaws.com/myecrr/bcknd:latest


      

# - name: Build, tag, and push image to Amazon ECR
#   env:
#     ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
#     ECR_REPOSITORY: myecrr
#     IMAGE_TAG: portal_bcknd
#   run: |
#     docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
#     docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
# - name: Build and push Docker image
#   run: |
#     docker build -t portal-backend .
#     docker tag e9ae3c220b23:latest public.ecr.aws/s7m4g9r9/portal-backend:latest
#     docker push public.ecr.aws/s7m4g9r9/portal-backend:latest
#     docker tag portal-backend:latest <your_ecr_repository_url>/portal-backend:latest  
#     docker push <your_ecr_repository_url>/portal-backend:latest

# - name: Update ECS service
#   run: |
#     aws ecs update-service --cluster <your_ecs_cluster_name> --service <your_ecs_service_name> --force-new-deployment
